---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'

---

<Layout>
    <div class="m-[20px] lg:ml-[25vw] lg:mr-[25vw]">
        <h1 class="text-2xl lg:text-3xl font-bold m-[10px] text-center">Invitaci贸n a la presentaci贸n en Cochabamba</h1>
        <div class="flex items-center justify-center">
            <img class="mt-[15px] mb-[15px] shadow-md lg:w-[40vw] rounded-sm" src="/etnografia-pueblo-chico/assets/img/afiche-ultimo.jpg">
        </div>        
        <p class="mt-[10px] lg:text-xl">Te invitamos cordialmente a la presentaci贸n del libro: <b>Pueblo Chico. Etnograf铆a de una facultad en una Universidad P煤blica en crisis (2017-2023)</b>.</p>
        <p class="mt-[10px] lg:text-xl">Este libro explora la crisis de la Universidad P煤blica boliviana, describiendo c贸mo la cultura pol铆tica, caracterizada por l贸gicas clientelares y corporativas, estructura la vida institucional. Se tiene como estudio de caso la Facultad de Ciencias Sociales (FACSO) y la carrera de antropolog铆a de la Universidad Mayor de San Sim贸n (UMSS), cuyos eventos y experiencias se retratan desde una mirada etnogr谩fica y period铆stica. El texto busca aportar al registro de las luchas por el poder y la administraci贸n de los recursos universitarios, y c贸mo ello conforma instituciones acad茅micas an贸micas.</p>
        <h3 class="mt-[10px] text-xl lg:text-2xl font-bold">Comentan</h3>
        <p class="mt-[10px] lg:text-xl">George Komadina, soci贸logo e investigador.</p>
        <p class="mt-[10px] lg:text-xl">Juan Crist贸bal Soruco, periodista y ex director de Los Tiempos.</p>
        <h3 class="mt-[10px] text-xl lg:text-2xl font-bold">Detalles</h3>
        <p class="mt-[10px] lg:text-xl"> Fecha: Jueves 13 de marzo, hrs. 19:00.</p>
        <p class="mt-[10px] lg:text-xl">Lugar: Auditorio del Posgrado de la Facultad de Ciencias Sociales (UMSS). Calle Calama no. 255, entre Nataniel Aguirre y Esteban Arze.</p>
        <p><a class="mt-[10px] lg:text-xl underline text-red-700" href="https://maps.app.goo.gl/owGZRZrZfLXVi1eR7"> Google Maps</a></p>
        <h3 class="mt-[10px] text-xl lg:text-2xl font-bold">Apoyan</h3>
        <p class="mt-[10px] lg:text-xl">INCISO y Posgrado FACSO</p>
        <h3 class="mt-[10px] text-xl lg:text-2xl font-bold">Confirma tu participaci贸n:</h3>
        <a class="mt-[10px] lg:text-xl underline text-red-700" href="https://www.facebook.com/events/1739569963638307/">Evento en Facebook</a>
    </div>
</Layout>