---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css"; 
---

<Layout>
    <div class="m-[20px] lg:ml-[28vw] lg:mr-[28vw]">
        <h1 class="text-2xl lg:text-3xl font-bold m-[10px] text-center">Sobre la obra</h1>
        <p class="mt-[10px] lg:text-xl">"Pueblo Chico" examina la crisis de la universidad pública boliviana a través del estudio de caso de la Facultad de Ciencias Sociales (FACSO) y la carrera de Antropología de la Universidad Mayor de San Simón (UMSS). Instituciones pequeñas en número, aisladas espacial y académicamente de otras facultades y la propia sociedad, cuya vida cotidiana está marcada por el conflicto político e institucional crónico.</p>   
        <div class="flex items-center justify-center">
            <img class="mt-[15px] mb-[15px] lg:w-[25vw] rounded-sm" src="/src/assets/img/afiche-etnografia.png">
        </div>
        <p class="mt-[10px] lg:text-xl">Con base en una investigación etnográfica y periodística desarrollada entre los años 2017 y 2023, en el marco de la intervención del partido de gobierno en la toma de decisiones universitarias y una crisis económica, la autora describe cómo la cultura política de los actores universitarios genera una conflictividad cotidiana, fragmentación social e informalidad y deterioro de los procesos educativos.</p>
        <p class="mt-[10px] lg:text-xl">Cada capítulo del libro aborda un ámbito de la vida universitaria afectada por el intercambio político en pro de intereses sectoriales particulares, pero en desmedro del bien común y la academia. Se examinan las prácticas perniciosas recurrentes y los mecanismos clientelares y corporativos que causan la alta violencia en las elecciones en el gremio estudiantil; la informalidad en los procesos de admisión y nivelación académica; la conflictiva interacción espacial en una facultad que no contó con edificio propio por muchos años; los diseños curriculares inconexos y enredados; y el sistema de incentivos y los estilos fragmentados de la docencia universitaria en la Universidad Mayor de San Simón.</p>
        <p class="mt-[10px] lg:text-xl">¿Es posible realizar una reforma en una institución donde priman los intereses particulares antes que el bien común? ¿Cómo reformar una institución con hábitos políticos, expectativas y mentalidades tan resistentes al cambio?</p>
        <div class="flex flex-col lg:flex-row gap-2 lg:gap-8 items-center justify-center mt-[20px] mb-[20px]">
            <a href="https://www.academia.edu/128168921/Pueblo_Chico_Etnograf%C3%ADa_de_una_facultad_en_una_universidad_p%C3%BAblica_en_crisis_2017_2023_">
                <button class="bg-negro hover:bg-gray-900 text-white py-3 w-[200px] lg:px-10 rounded-lg text-base lg:text-lg cursor-pointer">Academia.edu</button>
            </a>
            <a href="https://www.researchgate.net/publication/389785431_Pueblo_Chico_Etnografia_de_una_facultad_en_una_universidad_publica_en_crisis_2017-2023">
                <button class="bg-negro hover:bg-gray-900 text-white py-3 w-[200px] lg:px-10 rounded-lg text-base lg:text-lg cursor-pointer">ResearchGate</button>
            </a>
        </div>
        <br>
        <h1 class="text-2xl lg:text-3xl font-bold m-[10px] text-center">Sobre la autora</h1>
        <div class="flex items-center justify-center">
            <img class="mt-[15px] mb-[15px] lg:w-[20vw] rounded-full shadow-md" src="/src/assets/img/valeria.jpg">
        </div>
        <p class="mt-[10px] lg:text-xl">Valeria Peredo es licenciada en antropología por la Universidad Mayor de San Simón. Estudia la Maestría en Gestión del Hábitat y Desarrollo Territorial Sostenible de la Universidad Autónoma Gabriel René Moreno. Trabaja como investigadora independiente, analista de datos y diseñadora UX. Trabaja temas digitales y urbanos.</p>
        <br>
    </div>
</Layout> 