---
import "../styles/global.css"; 
---

<h2 class="flex justify-center text-3xl font-bold m-[10px]">Blog</h2>

<div class="flex items-center justify-center gap-4 flex-col  md:flex-row">
    <div class="max-w-sm bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img class="rounded-t-lg w-[385px]" src="/src/assets/img/afiche-ultimo.jpg" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white hover:underline">Invitaci贸n a la presentaci贸n en Cochabamba</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Detalles y direcci贸n del evento de presentaci贸n del libro "Pueblo Chico" en Cochabamba.</p>
        </div>
    </div>

</div>


