---
import "../styles/global.css"; 
---

<h2 class="flex justify-center text-3xl font-bold m-[40px]">Blog</h2>

<div class="flex items-center justify-center gap-4 flex-col  lg:flex-row">
    <div class="w-[90vw] md:w-[385px] max-w-sm bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img class="rounded-t-lg" src="/src/assets/img/afiche-ultimo.jpg" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white hover:underline">Invitación a la presentación en Cochabamba</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Detalles y dirección del evento de presentación del libro "Pueblo Chico" en Cochabamba.</p>
        </div>
    </div>

    <div class="w-[90vw] md:w-[385px] max-w-sm bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img class="rounded-t-lg" src="/src/assets/img/afiche-ultimo.jpg" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white hover:underline">Invitación a la presentación en Cochabamba</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Detalles y dirección del evento de presentación del libro "Pueblo Chico" en Cochabamba.</p>
        </div>
    </div>
</div>


