---

---

<h2 class="flex justify-center text-3xl font-bold m-[40px]">Blog</h2>

<div class="flex items-center justify-center gap-4 flex-col  lg:flex-row">
    <div class="w-[90vw] lg:w-[385px] max-w-sm bg-white rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700">
        <a href="/etnografia-pueblo-chico/prologo">
            <img class="rounded-t-lg" src="/etnografia-pueblo-chico/assets/img/komadina.jpg" alt="" />
        </a>
        <div class="p-5">
            <a href="/etnografia-pueblo-chico/prologo">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Pr贸logo</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Escrito por George Komadina Rimasa.</p>
        </div>
    </div>

    <div class="w-[90vw] lg:w-[385px] max-w-sm bg-white rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700">
        <a href="/etnografia-pueblo-chico/invitacion-cb">
            <img class="rounded-t-lg" src="/etnografia-pueblo-chico/assets/img/afiche-ultimo.jpg" alt="" />
        </a>
        <div class="p-5">
            <a href="/etnografia-pueblo-chico/invitacion-cb">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Presentaci贸n en Cochabamba</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Invitaci贸n a la presentaci贸n Cochabamba.</p>
        </div>
    </div>
</div>


