<div class="h-[80px] flex items-center justify-center">
    <p class="text-sm">Desarrollado por <a href="https://valeipr.github.io/mi-portafolio/" class="text-red-700">Valeria Peredo</a>, 2025.</p>
</div>