---
import portadaLibro from '../assets/img/tapa.jpg';
import "../styles/global.css"; 
---

<div class="container-general h-9/10">
    <div class="texto-container">
        <h1 class="text-5xl font-bold" >Descarga el libro</h1>
        <p class="text-2xl">El aprendiz de brujo que toma el riesgo de interesarse por la brujería y los fetiches de su propia tribu, en lugar de ir a buscar en lejanos trópicos los encantos consoladores de una magia exótica, debe esperar ver desencadenarse contra él la violencia que él ha desencadenado.</p> 
        <p class="text-2xl font-bold">Pierre Bourdieu, Homo Academicus (1984)</p>
    </div>
    
    <div class="image-container w-150">
        <img src= "/src/assets/img/tapa.jpg"/>
    </div>
</div>