<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Pueblo Chico. Etnografía de una facultad en una universidad pública en crisis (2017-2023)</title>
	</head>
	<body class="bg-gradient-to-t from-migris">
		<slot />
	</body>
</html>

<style>
</style>
