---
import Header from '../components/Header.astro'; 
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/etnografia-pueblo-chico/assets/img/libro.png"/>
		<meta name="generator" content={Astro.generator} />
		<title>Pueblo Chico. Etnografía de una facultad en una universidad pública en crisis (2017-2023)</title>
	</head>

	<body class="bg-gradient-to-t from-migris">
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>

<style>
</style>
